{
  "openapi": "3.0.0",
  "info": {
    "title": "baufismart-dokumente-api",
    "description": "Mit dieser API können Vorgangs- und Antrags-Dokumente runter und hochgeladen werden. Bei dieser API handelt es sich um eine API, die nicht weiterentwickelt wird. Sie wird mit der dokumente-API abgelöst.",
    "contact": {
      "name": "Europace AG",
      "url": "www.europace2.de",
      "email": "devops@europace2.de"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.europace2.de"
    }
  ],
  "paths": {
    "/dokumentenverwaltung/dokument/": {
      "get": {
        "tags": [
          "download"
        ],
        "summary": "ein Dokument downloaden",
        "description": "Mit diesem Endpunkt kann man ein Dokument direkt runterladen.",
        "operationId": "getDokument",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Id des Dokuments",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "example": "{{id}}"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Das akzeptierte Dateiformat",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "text/html;charset=UTF-8, text/rtf;charset=UTF-8, text/plain;charset=UTF-8, text/xml;charset=UTF-8, image/gif, image/jpg, image/jpeg, image/png, image/bmp, image/png,image/svg+xml, image/tiff, application/zip, application/excel, application/vnd.ms-outlook, application/pdf;charset=UTF-8, application/vnd.openxmlformats-officedocument.presentationml.presentation, application/mspowerpoint, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/msword, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Client Error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dokumentenverwaltung/download": {
      "get": {
        "tags": [
          "download"
        ],
        "summary": "ein Dokument downloaden",
        "description": "Mit diesem Endpunkt kann man eine Datei runterladen.",
        "operationId": "redirect_bei_Url_ohne_Dateinamen",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Id des Dokuments",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "example": "{{id}}"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Das akzeptierte Dateiformat",
            "required": false,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "text/html;charset=UTF-8, text/rtf;charset=UTF-8, text/plain;charset=UTF-8, text/xml;charset=UTF-8, image/gif, image/jpg, image/jpeg, image/png, image/bmp, image/png,image/svg+xml, image/tiff, application/zip, application/excel, application/vnd.ms-outlook, application/pdf;charset=UTF-8, application/vnd.openxmlformats-officedocument.presentationml.presentation, application/mspowerpoint, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/msword, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            }
          }
        ],
        "responses": {
          "301": {
            "description": "Permanently moved"
          },
          "302": {
            "description": "Temporarily moved"
          },
          "400": {
            "description": "Client Error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/vorgang/dokumente": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "Dokumente Upload Schnittstelle",
        "description": "Endpunkt zum uploaden eines Dokuments und gleichzeitigem hinzufügen zu einem Vorgang oder Antrag.",
        "operationId": "dokumente",
        "parameters": [
          {
            "name": "anzeigename",
            "in": "query",
            "description": "Unter welchem Namen soll das Dokument in BaufiSmart angezeigt werden.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "example": "test_dokument"
            }
          },
          {
            "name": "teilAntragNummer",
            "in": "query",
            "description": "Der Antrag an dem das Dokument hinzugefügt werden soll. Beim Upload muss entweder eine VorgangsNummer oder eine TeilAntragNummer angegeben werden.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "example": "123456789"
            }
          },
          {
            "name": "vorgangsNummer",
            "in": "query",
            "description": "Der Vorgang an dem das Dokument hinzugefügt werden soll. Beim Upload muss entweder eine VorgangsNummer oder eine TeilAntragNummer angegeben werden.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "YYY-MM-DDThh:mm:ss.SSSZ",
              "example": "AB1234"
            }
          },
          {
            "name": "erstellungsdatum",
            "in": "query",
            "description": "Datum an dem das Dokument erstellt wurde",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "YYY-MM-DDThh:mm:ss.SSSZ",
              "example": "2016-04-07T13:30:11.633Z"
            }
          },
          {
            "name": "sichtbarFuerVertrieb",
            "in": "query",
            "description": "Ist das Dokument auch für den Vertrieb /V ermittler sichtbar. Wenn eine Vorgangsnummer angegeben wird muss dieser Parameter true sein",
            "required": false,
            "style": "form",
            "schema": {
              "type": "boolean",
              "example": "true"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "multipart/form-data"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "Url zum Dowload des Dokuments"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Wird bei fehlenden oder fehlerhaften Parametern zurueckgeliefert."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    }
  },
  "tags": [
    {
      "name": "download",
      "description": "Download über die Dokumentenverwaltung"
    },
    {
      "name": "upload",
      "description": "Dokumente upload über das Vorgangsmodul"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "JWT": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Authentication"
      }
    }
  }
}